fastapi
uvicorn
Pillow
numpy
tensorflow
transformers
python-multipart
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
python-jose
redis
celery
pydantic==2.6.1
tensorflow==2.16.1
tf_keras
Pillow==10.2.0
numpy==1.26.4
transformers==4.37.2
torch
pytest
httpx
